# Hypothesis

Buying when MACD crosses above its signal line if supported by an oversold RSI and selling when MCAD crosses below its signal line if supported by an overbought RSI will outperform buy and hold. 

**Steps**
1. Get 2 years of TSLA daily candles
2. Add MACD, MACD Signal and RSI indicators
3. Add trade column containing:
    * Buy if: previous rows value is blank; MCAD > MCAD Signal; and RSI < 30   
    * Hold if: previous rows value is Buy or Hold; MCAD > MCAD Signal; and RSI < 30
    * Sell if: previous rows value is Buy or Hold; MCAD < MCAD Signal; and RSI > 70
    * Blank if: previous rows value is Sell or blank; MCAD < MCAD Signal; and RSI > 70
4. Add cumulative profit column which is updated on Sell
5. Calculate profit from buy and hold vs total cumulative profit from above strategy
    
**Assumptions**
* Trades cost £10 in both directions (source IG Markets)

## Step 1: Get the candles 
When run on 5DEC21 Yahoo finance only goes back as far as 15MAR21. Downloaded manually as csv file in ~/lab/data. Data from 8OCT21 to 3DEC21. This gives us 2 years worth + some extra days for inital MACD, MACD Signal and RSI calculations.

In [86]:
import pandas as pd
import datetime as dt

# Load from CSV and sort
candles = pd.read_csv('~/data/TSLA.csv')
candles = candles.sort_index()

candles

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-08,47.174000,48.787998,46.900002,48.009998,48.009998,43391000
1,2019-10-09,48.264000,49.459999,48.130001,48.905998,48.905998,34472000
2,2019-10-10,49.056000,49.855999,48.316002,48.948002,48.948002,31416500
3,2019-10-11,49.430000,50.216000,49.362000,49.577999,49.577999,42377000
4,2019-10-14,49.580002,51.709999,49.425999,51.391998,51.391998,51025000
...,...,...,...,...,...,...,...
540,2021-11-29,1100.989990,1142.670044,1100.189941,1136.989990,1136.989990,19464500
541,2021-11-30,1144.369995,1168.000000,1118.000000,1144.760010,1144.760010,27092000
542,2021-12-01,1160.699951,1172.839966,1090.760010,1095.000000,1095.000000,22816800
543,2021-12-02,1099.060059,1113.000000,1056.650024,1084.599976,1084.599976,24371600
544,2021-12-03,1084.790039,1090.579956,1000.210022,1014.969971,1014.969971,30696300

## Step 2: Add the indicators
Calculate MACD; MACD Signal; and RSI:
* MACD from pandas_ta
* MACD from pandas_ta
* RSI from pandas_ta

In [87]:
import pandas_ta as ta

# Copy data first so that we dont change the candles
ta_data = candles.copy()

# Add Indicators
macd = ta_data.ta.macd(close=ta_data['Close'])
ta_data['MACD'] = macd['MACD_12_26_9']
ta_data['MACD_SIGNAL'] = macd['MACDs_12_26_9']
ta_data['RSI'] = ta_data.ta.rsi(close=ta_data['Close'])

# Remove first 35 rows, 26 of these were only used to calculate the first moving averages and 9 of these were only used 
# to calculate the signal line.
ta_data = ta_data.iloc[35: , :].copy()

ta_data

,Date,Open,High,Low,Close,Adj Close,Volume,MACD,MACD_SIGNAL,RSI
35,2019-11-26,67.054001,67.099998,65.419998,65.783997,65.783997,39737000,3.947708,5.438827,55.353360
36,2019-11-27,66.223999,66.786003,65.713997,66.258003,66.258003,27778000,3.518488,5.054759,56.574388
37,2019-11-29,66.222000,66.251999,65.500000,65.987999,65.987999,12328000,3.120569,4.667921,55.640914
38,2019-12-02,65.879997,67.276001,65.737999,66.973999,66.973999,30372500,2.851902,4.304717,58.343949
39,2019-12-03,66.524002,67.582001,66.438004,67.239998,67.239998,32868500,2.630127,3.969799,59.068574
...,...,...,...,...,...,...,...,...,...,...
540,2021-11-29,1100.989990,1142.670044,1100.189941,1136.989990,1136.989990,19464500,40.411584,49.022207,59.016974
541,2021-11-30,1144.369995,1168.000000,1118.000000,1144.760010,1144.760010,27092000,40.665915,47.350949,59.750833
542,2021-12-01,1160.699951,1172.839966,1090.760010,1095.000000,1095.000000,22816800,36.432290,45.167217,53.182964
543,2021-12-02,1099.060059,1113.000000,1056.650024,1084.599976,1084.599976,24371600,31.870532,42.507880,51.898928
544,2021-12-03,1084.790039,1090.579956,1000.210022,1014.969971,1014.969971,30696300,22.378778,38.482059,44.203868

## Step 3: Calculate the trades
* Define function to calculate trade signal. This will need previous rows trade, MACD, MACD Signal and RSI. Previous trade will be stored as global as lambda won't have access to previous rows for this calculation. This should return:
    * BUY if: previous trade is 'NONE'; MCAD > MCAD Signal; and RSI < 30
    * HOLD if: previous trade is BUY or HOLD; MCAD > MCAD Signal; and RSI < 30
    * SELL if: previous trade is BUY or HOLD; MCAD < MCAD Signal; and RSI > 70
    * NONE if: previous trade is SELL or 'NONE; MCAD < MCAD Signal; and RSI > 70
* Use lamda to apply to dataframe

In [88]:
# Define the calc_trade function
def calc_trade(macd, macd_signal, rsi):
    # Access trade global. This will hold the previous trade for each itteration.
    global trade
    
    # Change value of trade depending on previous trade and indicators
    if trade == 'NONE' and macd > macd_signal and rsi < 30:
        trade = 'BUY'
    elif trade in ['BUY', 'HOLD'] and macd > macd_signal and rsi < 30:
        trade = 'HOLD'
    elif trade in ['BUY', 'HOLD'] and macd < macd_signal and rsi > 70:
        trade = 'SELL'
    elif trade in ['NONE', 'SELL'] and macd < macd_signal and rsi > 70:
        trade = 'NONE'
            
    return trade

# Set initial value for trade and apply calc_trade to a copy of the dataframe
trade = 'NONE'
trade_data = ta_data.copy()
trade_data['trade'] = trade_data.apply(lambda row : calc_trade(row['MACD'], row['MACD_SIGNAL'], row['RSI']), axis = 1)

trade_data.loc[trade_data['trade'] != 'NONE']

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, MACD, MACD_SIGNAL, RSI, trade]
Index: []

In [92]:
# The above did not apply any trades. Test data for conditions
oversold = ta_data.loc[ta_data['RSI'] < 30]
macd_above_sig = ta_data.loc[(ta_data['MACD'] > ta_data['MACD_SIGNAL'])]

macd_above_sig[macd_above_sig['RSI'] < 30]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, MACD, MACD_SIGNAL, RSI]
Index: []

## Conclusion
**Hypothesis proved FALSE.** There weren't any buy signals for TSLA in last two years using combination of MACD and RSI