# TESLA Stop Loss Strategy
In order to derermine the optimum stop loss position for my TSLA shares, I will calculate the following from the last two years of TSLA candle data:
* Largest daily fall as amount and percentage;
* Largest intra day swing;
* Largest overnight fall as amount and percentage; and
* Largest weekly fall as amount and percentage.

## Get the TSLA candle data
Last two years from yahoo finance. Make sure it is sorted by date.

In [210]:
from pandas_datareader import data as dr
import datetime as dt

 # Get 2 years data + 1 extra week which we will drop after adding previous close and previous week ago close
from_date = dt.datetime.now() - dt.timedelta(days=365*2+7)
tsla_candles = dr.DataReader('TSLA', data_source='yahoo', start=from_date)

# Sort
tsla_candles = tsla_candles.sort_index()

tsla_candles

               High      Low     Open    Close        Volume  Adj Close
Date
2019-11-29    66.25    65.50    66.22    65.99 12,328,000.00      65.99
2019-12-02    67.28    65.74    65.88    66.97 30,372,500.00      66.97
2019-12-03    67.58    66.44    66.52    67.24 32,868,500.00      67.24
2019-12-04    67.57    66.57    67.55    66.61 27,665,000.00      66.61
2019-12-05    66.88    65.45    66.57    66.07 18,623,000.00      66.07
...             ...      ...      ...      ...           ...        ...
2021-11-29 1,142.67 1,100.19 1,100.99 1,136.99 19,464,500.00   1,136.99
2021-11-30 1,168.00 1,118.00 1,144.37 1,144.76 27,092,000.00   1,144.76
2021-12-01 1,172.84 1,090.76 1,160.70 1,095.00 22,816,800.00   1,095.00
2021-12-02 1,113.00 1,056.65 1,099.06 1,084.60 24,371,600.00   1,084.60
2021-12-03 1,090.58 1,000.21 1,084.79 1,014.97 30,516,306.00   1,014.97

[508 rows x 6 columns]

## Add the calculations
Eight new columns:
* previous close
* week ago close
* open vs previous close
* open vs week ago close
* close vs open
* swing (high - low)
* open vs prev close %
* open vs week ago close %
* high vs low %
* swing %

In [211]:
# Copy data so that we don't alter retrieved data frame
data = tsla_candles.copy()

# Add previous close and week ago close
data['Prev Close'] = tsla_candles["Close"].shift(1)
data['Wk Ago Close'] = tsla_candles["Close"].shift(7)

# Remove first weeks rows, which will contain NaN values
data = data.iloc[7: , :].copy()

# Add the increases (open vs previous close; open vs week ago close; Close - Open; and Swing)
data['Open vs Prev Close'] = (data["Open"] - data["Prev Close"])
data['Open vs Wk Ago Close'] = (data["Open"] - data["Wk Ago Close"])
data['Close vs Open'] = (data["Close"] - data["Open"])
data['Swing'] = (data["High"] - data["Low"])

# Add the increases as a %
data['Open vs Prev Close %'] = (data["Open vs Prev Close"] / data["Prev Close"] * 100)
data['Open vs Wk Ago Close %'] = (data["Open vs Wk Ago Close"] / data["Wk Ago Close"] * 100)
data['Close vs Open %'] = (data["Close vs Open"] / data["Open"] * 100)
data['Swing %'] = (data['Swing'] / data['Low'] * 100)

data

,High,Low,Open,Close,Volume,Adj Close,Prev Close,Wk Ago Close,Open vs Prev Close,Open vs Wk Ago Close,Close vs Open,Swing,Open vs Prev Close %,Open vs Wk Ago Close %,Close vs Open %,Swing %
Date,,,,,,,,,,,,,,,,
2019-12-10,70.15,67.86,67.99,69.77,"44,141,500.00",69.77,67.91,65.99,0.09,2.00,1.78,2.28,0.13,3.04,2.61,3.37
2019-12-11,71.44,70.22,70.38,70.54,"34,489,000.00",70.54,69.77,66.97,0.61,3.40,0.16,1.22,0.87,5.08,0.23,1.74
2019-12-12,72.55,70.65,70.98,71.94,"38,819,500.00",71.94,70.54,67.24,0.44,3.74,0.95,1.90,0.63,5.57,1.34,2.69
2019-12-13,73.04,70.93,72.21,71.68,"32,854,500.00",71.68,71.94,66.61,0.27,5.60,-0.53,2.11,0.38,8.41,-0.74,2.98
2019-12-16,76.72,72.50,72.51,76.30,"90,871,000.00",76.30,71.68,66.07,0.83,6.44,3.79,4.22,1.16,9.74,5.23,5.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-29,"1,142.67","1,100.19","1,100.99","1,136.99","19,464,500.00","1,136.99","1,081.92","1,089.01",19.07,11.98,36.00,42.48,1.76,1.10,3.27,3.86
2021-11-30,"1,168.00","1,118.00","1,144.37","1,144.76","27,092,000.00","1,144.76","1,136.99","1,096.38",7.38,47.99,0.39,50.00,0.65,4.38,0.03,4.47
2021-12-01,"1,172.84","1,090.76","1,160.70","1,095.00","22,816,800.00","1,095.00","1,144.76","1,137.06",15.94,23.64,-65.70,82.08,1.39,2.08,-5.66,7.53
2021-12-02,"1,113.00","1,056.65","1,099.06","1,084.60","24,371,600.00","1,084.60","1,095.00","1,156.87",4.06,-57.81,-14.46,56.35,0.37,-5.00,-1.32,5.33
2021-12-03,"1,090.58","1,000.21","1,084.79","1,014.97","30,516,306.00","1,014.97","1,084.60","1,109.03",0.19,-24.24,-69.82,90.37,0.02,-2.19,-6.44,9.03

## Output
Display the:
* Largest daily fall as amount and percentage;
* Largest overnight fall as amount and percentage;
* Largest weekly fall as amount and percentage; and
* Largest swing for a bearish day.

In [212]:
# Format the data so that date time is in dd MMM yyyy
fmt_data = data.copy()
fmt_data.index = fmt_data.index.strftime('%d-%b-%Y')

# Largest daily fall by value
ldf_amt = fmt_data[fmt_data['Close vs Open'] == fmt_data['Close vs Open'].min()]
display(ldf_amt[['Open', 'Close', 'Close vs Open', 'Close vs Open %']].\
        style.set_caption("Largest Daily Fall by Value").format(precision=2))

# Largest daily fall by %
ldf_amt_pct = fmt_data[fmt_data['Close vs Open %'] == fmt_data['Close vs Open %'].min()]
display(ldf_amt_pct[['Open', 'Close', 'Close vs Open', 'Close vs Open %']].\
        style.set_caption("Largest Daily Fall by %").format(precision=2))

# Largest overnight fall by value
lof_amt = fmt_data[fmt_data['Open vs Prev Close'] == fmt_data['Open vs Prev Close'].min()]
display(lof_amt[['Open', 'Prev Close', 'Open vs Prev Close', 'Open vs Prev Close %']].\
        style.set_caption("Largest Overnight Fall by Value").format(precision=2))

# Largest overnight fall by %
lof_amt_pct = fmt_data[fmt_data['Open vs Prev Close %'] == fmt_data['Open vs Prev Close %'].min()]
display(lof_amt[['Open', 'Prev Close', 'Open vs Prev Close', 'Open vs Prev Close %']].\
        style.set_caption("Largest Overnight Fall by %").format(precision=2))

# Largest weekly fall by value
lwf_amt = fmt_data[fmt_data['Open vs Wk Ago Close'] == fmt_data['Open vs Wk Ago Close'].min()]
display(lwf_amt[['Open', 'Wk Ago Close', 'Open vs Wk Ago Close', 'Open vs Wk Ago Close %']].\
        style.set_caption("Largest Weekly Fall by Value").format(precision=2))

# Largest weekly fall by %
lwf_amt_pct = fmt_data[fmt_data['Open vs Wk Ago Close %'] == fmt_data['Open vs Wk Ago Close %'].min()]
display(lwf_amt[['Open', 'Wk Ago Close', 'Open vs Wk Ago Close', 'Open vs Wk Ago Close %']].\
        style.set_caption("Largest Weekly Fall by %").format(precision=2))

# Largest intra day swing for a bearish day. First filter for all bearish days (where close < open), then get largest swing as amt and pct
bear_days = fmt_data[fmt_data['Close'] < fmt_data['Open']]
lds_amt = bear_days[bear_days['Swing'] == bear_days['Swing'].max()]
display(lds_amt[['Open', 'Close', 'Swing', 'Swing %']].\
        style.set_caption("Largest Intraday Bear Swing by Amt").format(precision=2))

lds_pct = bear_days[bear_days['Swing %'] == bear_days['Swing %'].max()]
display(lds_pct[['Open', 'Close', 'Swing', 'Swing %']].\
        style.set_caption("Largest Intraday Bear Swing by %").format(precision=2))

## Now for the strategy
Calculate how much we need to raise from the stock sale to purchase the car, considering tax implications. This will be the stop loss posiotion. Calculate the target price before applying the stop loss taking into account the largest weekly fall.

In [213]:
# Target share price to purchase car. Car price is GBP 123000
# I hold 67 shares in a tax protected ISA and 52 in a standard account.
# The 52 shares are subject to 20% capital gains tax when they sell.

# Capital gains tax as % against total shares
cgt_pct = 52/(67+52)*20

# Amount I need to raise is car price + cgt %
car_price = 123000
tgt_amt = car_price + (car_price * cgt_pct / 100)

# Target share price in GBP is target amount / number shares held. Need to get in USD. Use 1.32 as FX rate
tgt_sh_pr_gbp = tgt_amt / (67+52)
tgt_sh_pr_usd = tgt_sh_pr_gbp * 1.32

# Target share price to allow for largest weekly fall before hitting stop loss. Largest weekly fall is 17.90%
tgt_rise_pr_usd = tgt_sh_pr_usd / ((100 - 17.9) / 100)

# Output
print(f"Stop loss of ${tgt_sh_pr_usd:,.2f} should be placed once TSLA reaches ${tgt_rise_pr_usd:,.2f} USD.\n" + \
      f"This will allow for historic maximum weekly drop to occour, whilst still raising £{tgt_amt:,.2f} to purchase car.\n" + \
      f"Amount to purchase car includes 20% CGT applied to shares outside of ISA.")

Stop loss of $1,483.61 should be placed once TSLA reaches $1,807.08 USD.
This will allow for historic maximum weekly drop to occour, whilst still raising £133,749.58 to purchase car.
Amount to purchase car includes 20% CGT applied to shares outside of ISA.